{%- assign button_text = sticky_button_alt_text | default: 'products.product.add_to_cart' | t -%}

{%- if product.available -%}
  <div class="sticky-add-to-cart">
    <div class="page-width">
      <product-form class="product-form">
        {%- form 'product', product, id: 'sticky-product-form', class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <button
            type="submit"
            name="add"
            class="product-form__submit button button--full-width button--secondary"
            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ button_text }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            {%- render 'loading-spinner' -%}
          </button>
        {%- endform -%}
      </product-form>
    </div>
  </div>
{%- endif -%} 