{%- if product != blank -%}
  <div class="sticky-add-to-cart">
    {%- form 'product', product, id: 'sticky-product-form', class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <button
        type="submit"
        name="add"
        class="product-form__submit button button--full-width"
        {% if product.selected_or_first_available_variant.available == false %}
          disabled
        {% endif %}
      >
        <span>
          {%- if product.selected_or_first_available_variant.available -%}
            {{ 'products.product.add_to_cart' | t }}
          {%- else -%}
            {{ 'products.product.sold_out' | t }}
          {%- endif -%}
        </span>
      </button>
    {%- endform -%}
  </div>
{%- endif -%} 